@page
@model ProjectsModel
@{
    @if(Model.Isd != null)
{
  ViewData["Title"] =  Model.Identifier +"'s Projects";
}
    
}
<h1>@ViewData["Title"]</h1>

<a class="btn btn-secondary" asp-page="/User/CreateProject">Create Project</a>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Date Created</th>
        <th>Is Reviewed</th>
    </tr>
    @foreach (var item in Model.projects)
    {
        <tr>
            <td><a class="nav-link text-dark" asp-area="" asp-page="Details" asp-route-id="@item.ProjectId">@item.ProjectName</a></td>
            <td><a class="nav-link text-dark" asp-area="" asp-page="Details" asp-route-id="@item.ProjectId">@item.ProjectDescription</a></td>
            <td><a class="nav-link text-dark" asp-area="" asp-page="Details" asp-route-id="@item.ProjectId">@item.ProjectCategory</a></td>
            <td><a class="nav-link text-dark" asp-area="" asp-page="Details" asp-route-id="@item.ProjectId">@item.ProjectDate</a></td>
            <td><a class="nav-link text-dark" asp-area="" asp-page="Details" asp-route-id="@item.ProjectId">@item.ProjectIsReviewed</a></td>
            
        </tr>
    }
</table>
